:root {

    --primary-color: #4A412A;
    --secondary-color: #00416A;
    --accent1-color: #B9D9EB;
    --accent2-color: #FFAF00;
}
.roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-variation-settings:
      "wdth" 100;
  }
.open-sans {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

h1 {
    color: #FFAF00;
}

h2 {
    color:#00416A;
}

p {
    color: #B9D9EB;
}
 
.sociallinks a {
    text-decoration: none;
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #4A412A;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    color: #FFAF00;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero article {
    position: absolute;
    top: 20%;
    font-size: 1.2rem;
    text-align: center;
    width: 80%;
}

.hero article img {
    position: absolute;
    float: right;
    top: 20%;
    margin-left: 100%;
    width: 200px;
    height: auto;
}



